h3>a{
  color: chocolate;
  font-size: 24px;
}
.pruebas {
  border-style: solid;
  border-color: red;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/