<!--p>product-alerts works!</p-->
<script>
  function claseOne(){
    var clasePrice = 200;
    var claseOne = "";
    if (clasePrice <= 299){
       claseOne = 'menor';
    }else if(clasePrice  >== 300 && clasePrice <==600){
      claseOne = 'intermedio';
    }else{
      claseOne = 'mayor';
    }
    return claseOne;
  }
</script>
<p>
  <button *ngIf="product" type="button" (click)="notify.emit()" [class]=product.clase>
    Notificacion Price < {{product.price}} && {{product.clase}}
  </button>
</p>